.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1d1d1d;
  color: white;
  height: 50px;
  padding: 0 10px;
}

.back_button {
  width: 20%;
}

.nav_path {
  position: absolute;
  left: 50%;
}